@import "tailwindcss";

.top-section {
  .title {
    @apply text-4xl font-bold;
  }
  .subtitle {
    @apply text-2xl;
  }
}

.content {
  h4 {
    @apply text-lg font-semibold;
  }

  .section {
    margin-bottom: 1em;
  }

  .subsection {
    @apply block;
    margin-bottom: 0.75em;
  }

  .job-header {
    margin-bottom: 0.5em;
  }

  .job-title {
    @apply font-semibold;
  }

  .job-dates {
    @apply font-light italic;
  }
}

.sidebar {
  background: #e8eff5;
  /* Preserve background when printing */
  -webkit-print-color-adjust: exact;  /* Chrome/Safari/Edge/Opera */
  color-adjust: exact;  /* Firefox */
}

ul {
  @apply list-disc;

  &.border-left {
    @apply border-l-1;
    border-color: #2f6f9c;

    li {
      @apply ml-8;
    }
  }

  li {
    @apply ml-4;
  }
}

p a {
  @apply text-blue-600;
}

@media screen {
  .print-only {
    display: none;
  }
}

@media print {
  .print-only {
    display: unset;
  }

  .md\:flex-row {
    flex-direction: unset !important;
  }

  * {
    font-size: 12px;
  }
}

@page {
  margin: 25px;
}
